# Data types

1. Integer - es: 2
2. Floats - es: 2.0
3. Strings - es: 'Sarah' -> string HAVE to be punt in ''
4. Booleans: True, False -> a boolean expression is also any question that has a yes/no answer

In [22]:
int_es = 1

float_es = 1.6

str_es = 'mi chiamo Sarah'

print(int_es, float_es, str_es, True, False)

1 1.6 mi chiamo Sarah True False

In [17]:
intero = 2 # l'assegnazione si fa con =

# Type

In [9]:
type('abcdef') # do not assigne a type, but it tells you what it is

str

## str()

In [7]:
var_1 = 18 #here I assigned a int variable

In [10]:
print('lei ha ' + str(var_1) + ' anni') #str() turn a variable into a string

lei ha 18 anni

## int()

In [6]:
var_2 = '1994'

In [12]:
2022 - int(var_2) #int() turn a variable into a integer

28

In [14]:
2022 - float(var_2) #float() turn a variable into a float

28.0

# Operations

In [17]:
1 + 1

2

In [19]:
nome = 'Sarah'

print('io sono ' + nome) # l'operatore + può essere usato anche per concatenare stringhe

io sono Sarah

In [4]:
3 * 2

6

In [6]:
8 / 4

2.0

In [8]:
5 ** 2 # exponential

25

Operation will follow the expected order -> use parentheses to clarify the order

Model function: will returns what remain after a division, done with %

In [46]:
7 % 2 # it will shows that is an odd number

1

## -= += ecc

si usano solo con variabili già assegnate

In [57]:
x = 10

x += 5 #questa è un'ASSEGNAZIONE, non restituisce un risultato, ecquivale a x = x+5

x

15

## round()

In [39]:
round(2.7)

3

## math module

import math module to perform more difficult operations. To use the math function wtire math.function

In [45]:
import math
str(math.ceil(2.9)) + ' ' + str(math.floor(2.9))

'3 2'

# Variable assignments

Variable assignments - es: define that x = 3

Important thing:
>- Variables shouldn't start with numbers
>- nor with special symbols
>- using underscorse to separate names - ex: first_var = 5

In [12]:
x = 3
y = 4

x + y

# Strings

Write among '' or ""
If among "" it can retain '
ex:

In [14]:
'This is a string'

'This is a string'

In [15]:
"that's also a string"

"that's also a string"

You can assign a string to a variable. Ex:

In [19]:
x = "ciaone" # questa cosa la fa solo jupiter. In genere sempre mettere print davanti

Here's how to print a variable:

In [20]:
x # fuori da Jupiter scrivendo solo la variabile da errore

'ciaone'

In [22]:
print(x) # note the differences among the two

ciaone

In [21]:
num = 3
name = "Sarah"

## String formatting -> .format()

Needed to insert variable in a string: inster in a placeholder {} the value of the variable

In [4]:
print("my number is {} and my number is {}".format(num, name)) # Alt Gr + Shift + ] = }

my number is 3 and my number is Sarah

In [23]:
print("my number is {one} and my number is {two}".format(one=num, two=name)) # set the order you want

my number is 3 and my number is Sarah

Eserzizio: ciao Sarah, piacere di conoscerti, il mio nome è Simone

In [26]:
print('ciao {nome1}, piacere di conoscerti, il mio nome è {nome2}'.format(nome1='Sarah', nome2='Simone'))

ciao Sarah, piacere di conoscerti, il mio nome è Simone

In [29]:
print('ciao {}, piacere di conoscerti, il mio nome è {}'.format('Sarah', 'Simone'))

ciao Sarah, piacere di conoscerti, il mio nome è Simone

si possono anche concatenare più stringhe

In [33]:
nome_1 = 'Sarah'

nome_2 = 'Simone'

print('ciao {}, piacere di conoscerti, il mio nome è {}'.format(nome_1, nome_2))

ciao Sarah, piacere di conoscerti, il mio nome è Simone

In [37]:
print('ciao ' + nome_1 + ', piacere di conoscerti, il mio nome è ' + nome_2)

ciao Sarah, piacere di conoscerti, il mio nome è Simone

esercizio: Sono Sarah e ho 28 anni

In [39]:
'Sono {} e ho {} anni'.format('Sarah', 28)

'Sono Sarah e ho 28 anni'

In [23]:
nome = 'Sarah' # solo le variabili possono essere stringhe senza apici
eta = 28

In [42]:
'Sono {} e ho {} anni'.format(nome, eta)

'Sono Sarah e ho 28 anni'

In [44]:
'Sono {ph_1} e ho {ph_2} anni'.format(ph_1=nome, ph_2=eta)

'Sono Sarah e ho 28 anni'

In [25]:
'Sono ' + nome + ' e ho ' + str(eta) + ' anni'

'Sono Sarah e ho 28 anni'

## len()

In [27]:
mylist = [1, 2, 3, 4, 5]

len(mylist)

5

In [29]:
len('ciao io sono Sarah')

18

In [30]:
var_1 = 'Esempio'

len(var_1)

7

# Indexing

Indexing in python starts with 0
BUT
*negative indexing* allows you to start counting from the end: starting from -1

In [9]:
s = 'sarah' #every letter is a element in the variable

In [11]:
s[0] #to find the elements of my string

's'

In [12]:
s[-1]

'h'

In [48]:
z = "abcdefghij"

In [49]:
z[0:] # grab slices

'abcdefghij'

In [51]:
z[:3] # start and ending point before and after : (the last index is the one you DON'T include

'abc'

In [55]:
list_ex = [1, 2, 3, [5, 6, 7, [8, 9]]]

In [56]:
len(list_ex) # restituisce il numero di elementi in una lista

4

In [58]:
list_ex[-1][-1][-2]

8

In [59]:
list_ex_2 = [1, 2, [3, 4], [5, [6, 7], [8]]]

In [60]:
len(list_ex_2)

4

In [62]:
list_ex_2[-1][-3]

5

In [63]:
list_ex_3 = ['a', ['b', 'c'], ['d, e', ['f', 'g']], 'h']

In [64]:
len(list_ex_3)

4

In [66]:
len(list_ex_3[2])

2

In [67]:
list_ex_3[1][1]

'c'

# Lists []

lists can contain basically any data type

In [68]:
mylist = ["a", "b", "c"]

In [69]:
mylist.append("d") # to add an element at the end of a list

In [73]:
'Simone'[2:4]

'mo'

In [55]:
mylist

['a', 'b', 'c', 'd', 'd', 'd']

In [57]:
mylist[1:3] # from b and not including d

['b', 'c']

In [58]:
mylist[0] = "new"

In [60]:
print(mylist)

['new', 'b', 'c', 'd', 'd', 'd']

In [61]:
nest = [1, 2, [3, 4]]

In [62]:
print(nest)

[1, 2, [3, 4]]

In [64]:
nest[2][1] # to grab an element inside the nest

4

In [65]:
nest2 = [1, 2, 3, [4, 5, ["target"]]]

In [67]:
print(nest2[3][2][0])

target

# Dictionaries {}

Do not retain any order, they are just key value pair mappings

In [1]:
d = {"key1":"value", "key2":123}

In [3]:
d["key2"]

123

You can put a list inside of a dictonary

In [4]:
d = {"k1":[1,2,3,4]}

Calling the key then you can do normal indexing

In [6]:
d["k1"][3]

4

You can have nested dictionaries

In [7]:
d = {"k1":{"innerkey":[1,2,3,4]}}

In [8]:
d["k1"]["innerkey"][3]

4

In [9]:
True

True

In [10]:
False

False

# Tuples ()

In [11]:
t = (1,2,3)

In [12]:
t[2]

3

Tuples do not support item riassignments

In [13]:
t[0] = "NEW"

TypeError: 'tuple' object does not support item assignment

# Set

A set is a collection of unique elements

And it looks the same of curly brackets as a dictionary except it doesn't have the colons it's just elements -> defined only by  UNIQUE elements

In [14]:
{1,2,3,4,}

{1, 2, 3, 4}

In [15]:
{1,1,1,2,2,3,4,}

{1, 2, 3, 4}

You can actually call s e t set function and write a list to grab the unique elements for you.

In [16]:
set([1,2,3,4,4,4,4,2,2,2,1,1,1])

{1, 2, 3, 4}

In [17]:
s = {1,2,3,4}

In [19]:
s.add(5) #if i try to add another 5 it will gave me the same result again

In [20]:
s

{1, 2, 3, 4, 5}

# Comparison operators

In [21]:
1 > 2

False

In [22]:
1 < 2

True

In [23]:
1 >= 2

False

In [25]:
1 == 1 #check for equality

True

In [88]:
1 != 2 #check for inequality

True

In [94]:
temperature = 40

if temperature > 25:
    print ("it's a hot day")
elif temperature < 25:
    print("it's a chilly day")
else:
    print ("it's a perfect day!")

it's a hot day

I'ts possible to performe it also with strings

In [28]:
"by" == "ny"

False

## Combining conditions

## and

In [29]:
1 < 2 and 2 < 3

True

In [31]:
(1 > 2) and (3 < 4) # true + false will give you false #() not essential, just for readability

False

## or

In [82]:
(1 > 2) or (3 < 4) or (1 != 1) # for true, it's enough that one condion is satisfied

True

## not

In [86]:
has_good_credit = True
has_criminal_record = True

if has_good_credit and not has_criminal_record:
    print('eligible for loan')   
else:
    print('not eligible for loan')

not eligible for loan

## if

In [36]:
if 1 < 2:
    print("yep!")

yep!

^ see that Python doesn't use brackets in order to separate block of code execution statements, it uses whitespace instead

# if else elif: chenking for multiple conditions:

In [39]:
if 1 == 2:
    print("first")
else:
    print ("last")

last

Chenking for multiple conditions: if else elif

Keep in mind that it will alway print the first condition that is satisfied

In [41]:
if 1 == 2:
    print("first")
elif 3 == 3:
    print("middle") # otherwise, if this is true print...
else:
    print ("last") # if non are, print...

middle

In [58]:
if 1 != 2:
    print("first")
elif 3 == 3: # you can apply any elis statements are you want
    print("middle") # otherwise, if this is true print...
else:
    print ("last") # if non are, print...

first

In [72]:
is_hot = False
is_cold = False

if is_hot:
    print("it's a hot day")
    print("drink wated and don't go out in the sun")
elif is_cold:
    print("it's a cold day")
    print("drink warm tea")
else:
    print("it's a perfect weather day!")

print('have a lovely day')

it's a perfect weather day!
have a lovely day

In [71]:
price = 1000000

good_credit = False

if good_credit:
    down_payment = price * 10 / 100
else:
    down_payment = price * 20 / 100
print('Down payment is $' + str(down_payment))

Down payment is $200000.0

# Operator *in*

In [8]:
'dog' in 'this is my dog'.split()

True

In [16]:
'y' in 'abcd'

False

In [46]:
'x' in ['x', 'y', 'z']

True

# Operator *for*

In [13]:
for index in range(10):
    
    print(index)

0
1
2
3
4
5
6
7
8
9

In [3]:
for animal in ['cat', 'dog', 'giraffe']:
    
    print(animal)

cat
dog
giraffe

# see: Scoping

# For loops and while loops

## FOR LOOPS allow you to execute a code for every single item in a sequence

In [3]:
seq = [1,2,3,4,5]

for item in seq: # "item" can be everything I want, like for ex "num"
    print(item)

1
2
3
4
5

In [5]:
for item in 'Python':
    print(item)

P
y
t
h
o
n

In [12]:
for item in ['Sarah', 'Simone', 'Zeno']:
    print(item)

Sarah
Simone
Zeno

In [14]:
prices = [10, 20, 30]

tot = 0

for price in prices:
    tot += price #in this line I descrive what happen in each iteration
print('tot: {}'.format(tot))

tot: 60

### Range function

In [3]:
range(0,5)

range(0, 5)

In [5]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [7]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [13]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## WHILE LOOP to continuously perform an action as long as a condition is met

In [2]:
j = 1

while j <= 5:
    print(j)
    j = j + 1 
print('done')
       
# i = i + 1  is to increment 1 of 1 every time the code run
# Whitout that, 1 will be <= 1 forevere, so the loop will run forever

1
2
3
4
5
done

*break* is used to terminate a loop

## Nested loops

# List comprehension

In [75]:
x = [1,2,3,4]

In [81]:
out = []

for num in x:
    out.append(num**2) # see FOR LOOPS
    
print(out)

[1, 4, 9, 16]

In [78]:
[num**2 for num in x]

[1, 4, 9, 16]

In [80]:
out = [num**2 for num in x]

out

[1, 4, 9, 16]

List comprehension makes you have things in one line in [] instead have to create an empty list and then use .append

# Functions

Instead of writing the code multiple times, you can write a function and then, when needed again, you will call just the function: key word: def

In [1]:
def my_func(param1):
    print(param1)

In [2]:
my_func('hello')

hello

L'argomento della funzione (ciò che c'è dentro la parentesi) può contenere tutto ciò di cui ho bisogno per costruirla

In [21]:
def my_func(name):
    print('Hello ' + name)

In [22]:
my_func('Camillo')

Hello Camillo

In [25]:
def my_func(name='Default name'):
    print('Hello ' + name)

In [28]:
my_func() # now if I want another name I have to specify the value (like 'Camillo' or name='Camillo')

Hello Default name

In [30]:
my_func #without () I'm just ascking python what is that function, with () it execute the function

In [3]:
def square(num):
    """
    this is a docstring, can go multiple lines:
    THIS FUNCTION SQUARES A NUMBER
    """
    return num**2

In [4]:
output = square(2)

In [33]:
output

4

^ difference between *print* and *return* something

In [5]:
square #writing the name of a function and then press SHIFT+TAB it gives you the docstring! 
# Very usefoul to get the documentation of function built into library

*print vs return*
<br>

# Classi

Interprete e compilatore lavorano insieme per creare il codice macchina a partire dal codice di programmazione

<br> Dai linguaggi imperativi si è passati ai programmi orientati agli oggetti (object oriented programming = OOP): i programmi imperativi leggono il codice dall'inizio alla fine, gli OOP modellano una realtà di interesse tramite degli oggeti - ci sono una serie di oggetti che interagiscono tra loro (aiuta pensare cos' al codice, come ad una serie di oggetti che interagiscono tra loro)

<br> Ogni oggetto in una realtà di interesse è deinito dalle sue *proprietà* e *azioni*

<br> **Classi**: progetto tramite il quale posso creare degli oggetti. La classe potrebbe essere la scrivania, e l'oggetto la vera scrivania con le sue priorità (la classe è una, gli oggetti possono essere tanti). Ad una classe possono corrispondere tanti oggetti, ma un oggetto di riferisce ad una sola classe. Da una classe si *instanziano* gli oggetti (*instancing*)

<br> Il *costruttore* è la funzione che ci dice come costruire un oggetto a partire dalla classe

In [19]:
class Desk:
    
    def __init__(self, dimension):
        
        self.dimension = dimension

In [21]:
desk_a = Desk(5)

# map()

In [4]:
def times2(var): #es of a function i could need
    return var*2

In [5]:
times2(6)

12

In [6]:
seq = [1,2,3,4,5]

to apply my function (eg. times2) to the sequence, I can use a for loop and then append the results to another list.
INSTEAD *map* is a built-in function in python that saves that steps

In [7]:
map(times2,seq)

In [9]:
list(map(times2,seq)) #to actually execute the function and return it as a list

[2, 4, 6, 8, 10]

# Lambda expression

In [11]:
lambda var:var*2 #it saves you from define the expression, then name in then again ask how return it (see ^^)

In [12]:
t = lambda var:var*2 #this is to name the function

In [13]:
t(16)

32

In [17]:
seq = [1,2,3,4,5]

In [19]:
list(map(lambda num: num*3,seq)) # I no longer have to define an entire function formally, I can just use a lambda expr

[3, 6, 9, 12, 15]

*lambda* expressions are super used in pandas

# Filter function

In [20]:
filter(lambda num: num%2 == 0, seq) #filter can be applied to a lambda or a function

In [23]:
list(filter(lambda num: num%2 == 0, seq)) #this apply the functino just to even numbers in my seq

[2, 4]

In [31]:
s = 'Hello i feel so dumb'

In [32]:
s.upper()

'HELLO I FEEL SO DUMB'

## Some built-in funcions

In [33]:
s.split() #default separator is space

['Hello', 'i', 'feel', 'so', 'dumb']

In [34]:
tweet = 'Go Sports! #Sports'

In [37]:
tweet.split('#')[1] #in () is the new assigned separator

'Sports'

In [33]:
d = {'k1': 1, 'k2': 2}

In [34]:
d

{'k1': 1, 'k2': 2}

In [36]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [37]:
d.values()

dict_values([1, 2])

In [8]:
lst = [1,2,3]

In [9]:
lst.pop() #this will permanently remove the list item from a list

TypeError: 'int' object is not subscriptable

In [6]:
lst

[1, 2]

In [44]:
lst.append('new') #to add an item to the list

In [43]:
lst

[1, 2, 'new']

In [45]:
'x' in [1,2,3]

False

# Toople unpacking

In [47]:
x = [(1,2),(3,4),(5,6)]

In [49]:
x[0][0] #I can grab items from a toople

1

In [50]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [51]:
for (a,b) in x:
    print(a)

1
3
5

In [7]:
prova = [1, 2, 3, 4, 5]

In [3]:
prova[2:4]

[3, 4]

In [4]:
prova[1:]

[2, 3, 4, 5]

In [ ]:
prova[-2]

# API reference

API: interfaccia di un software -> nella documentazione, quello che trovo qui mi spiega come usare il software